<h1>Posts</h1>

<div class='row'>
	<% if @posts.any? %>
	  <% @posts.each do |post| %>
		  <div class="col s12 m4">
		    <div class="card blue-grey darken-1">
		      <div class="card-content white-text">
		        <span class="card-title"><%= post.title %></span>
		        <p><%= post.body %></p>
		      </div>
		      <div class="card-action">
		        <%= link_to 'View Post', post_path(post) %>
		        <%= link_to 'Buy', post.link %>
		      </div>
		    </div>
		  </div>
		<% end %>
	<% else %>
	  <h3>No Posts, please add one!</h3>
	<% end %>
</div>


<br />


<%= link_to 'Add Post', new_post_path %> |
<%= link_to 'Back', root_path %>

<br />