<h1><%= @post.title %></h1>

<h6>Created by: <%= @post.user.first_name %> <%= @post.user.last_name %></h6>

<h5><%= link_to "Buy Product", @post.link %></h5>


<p><%= @post.body %></p>

<% if current_user.id == @post.user_id %>
	<hr>
  <%= link_to 'Edit Post', edit_post_path(@post), class: "btn" %>
  <%= link_to 'Delete Post', post_path, class: "btn red", method: :delete, data: {confirm: 'You sure you want to delete?'} %>
<% end %>

<br>
<br>

<%= link_to 'All Posts', root_path, class: "btn" %>
<%= link_to 'My Posts', posts_path, class: "btn" %>